<%- include('header'); -%>
<main>
    <div class="container-fluid">
      <!-- Introduction -->
      <div class="row align-items-center">
        <div class="col-md" id="about-us-1"></div>
        <div class="col-md">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md m-3">
              <p class="lead display-6">INTRO</p>
              <p>Founded in the heart of Australia, Infinite Glow began as a small, passion-driven venture with a simple goal: to bring the art of personalized skincare and wellness to everyone. Our journey started with a love for natural ingredients and a deep understanding of the unique needs of each individual's skin and senses. What began with handcrafted lotions and custom-blended shampoos soon expanded into a full range of luxurious products, including our signature candles that enhance the ambiance of any space.</p>
              <p>
                As we grew, so did our commitment to offering not just products, but also personalized services that allow our clients to create something uniquely theirs.
              </p>
              <p>
                Today, we continue to be inspired by the natural beauty of Australia and the diverse needs of our clients. We invite you to explore our range of custom skincare products and services, and discover the luxury of personalized self-care.
              </p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
      <!-- Founder -->
      <div class="row align-items-center">
        <div class="col-md order-2 order-md-1">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md m-3">
              <p class="lead display-6">About the founder</p>
              <p>Alice is the visionary behind Infinite Glow, bringing a deep passion for skincare and wellness to life through personalized products and services. Born and raised in Australia, Alice has always been inspired by the natural beauty and diverse landscapes of the country. This connection to nature, combined with a background in cosmetic science and a commitment to sustainable practices, laid the foundation for what would become a truly unique skincare brand.
              </p>
              <p>
                Driven by a desire to help people feel confident and beautiful in their own skin, Alice started crafting bespoke skincare products from natural ingredients. What began as a personal hobby soon blossomed into a business, with friends and family eagerly seeking out her custom-made lotions, shampoos, and candles.
              </p>
              <p>
                Today, Alice continues to lead Infinite Glow with the same dedication and love for the craft that started it all. With a focus on innovation, sustainability, and personalization, Alice ensures that every product and service offered reflects the core values of quality, care, and individuality. Through Infinite Glow, Alice invites you to discover the transformative power of personalized skincare and to embrace the beauty that’s uniquely yours.
              </p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="col-md order-1 order-md-2" id="about-us-2"></div>
      </div>
    </div>
  </main>
<%- include('footer'); -%>