<%- include('header'); -%>
<body></body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        </nav>
        <section class="container-fluid p-0">
          <div class="hero-image d-flex align-items-center justify-content-center text-center text-white" id="services-hero-image">
              <div class="overlay"></div>
              <div class="hero-text">
                  <h1 class="display-4">Infinite Glow Services</h1>
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm-6">
                      <p class="lead">
                        At Infinite Glow, we offer a range of tailored skincare treatments designed to meet your unique needs. Our expert estheticians use only the finest products to ensure your skin is treated with the utmost care.
                      </p>
                    </div>
                    <div class="col-sm"></div>
                  </div>
              </div>
          </div>
        </section>
    </header>
    <main>
        <div class="container-fluid">
          <!-- Radiant Glow Facial Row -->
          <div class="row text-center align-items-center">
            <div class="col-sm">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm-5">
                  <h2 class=>Radiant Glow Facial</h1>
                    <p class="lead">
                      Indulge in our signature facial that rejuvenates your skin, leaving it radiant and refreshed. Ideal for all skin types
                    </p>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
            <div class="col-sm" id="services-image-2"></div>
          </div>
          <!-- Anti-Aging Therapy Row -->
          <div class="row text-center align-items-center">
            <div class="col-md order-2 order-md-1" id="services-image-3"></div>
            <div class="col-md order-1 order-md-2">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm-5">
                  <h2 class=>Anti-Aging Therapy</h1>
                    <p class="lead">
                      Combat the signs of aging with our advanced anti-aging therapy. Using the latest techniques, we help you achieve youthful, firm skin.
                    </p>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
          <!-- Bespoke Skincare Consultation -->
          <div class="row text-center align-items-center">
            <div class="col-sm">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm-5">
                  <h2 class=>Bespoke Skincare Consultation</h1>
                    <p class="lead">
                      Receive a one-on-one consultation with our skincare experts to craft a routine that perfectly matches your skin type and concerns. Walk away with a tailored regimen designed just for you.</p>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
            <div class="col-sm" id="services-image-4"></div>
          </div> 
        </div>
        <div class="container-fluid">
          <div class="row m-5 text-center">
            <h2>What our customers are saying!</h2>
            <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="card m-1">
                  <img src="/resources/other_images/review-1.jpg" alt="client-1" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text m-5">
                      I’ve struggled with sensitive skin for years, but the personalized lotion blend I received has been a game-changer. My skin feels nourished and calm. - Rebecca S.
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card m-1">
                  <img src="/resources/other_images/review-2.jpg" alt="client-2" class="card-img-top">
                  <div class="card-body">
                      <p class="card-text m-5">
                        The bespoke skincare consultation was so insightful. The custom regimen they crafted for me has transformed my skin. I couldn’t be happier! - Daniel T.
                      </p>
                  </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card m-1">
                  <img src="/resources/other_images/review-3.jpg" alt="client-3" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text m-5">
                      The custom facial oil blend I created is nothing short of luxurious. My skin has never looked more radiant. I had a great experience with this business.- Olivia M
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            </div>
        </div>
        </div>
        </div>
    </main>
</body>
<%- include('footer'); -%>